# --------------------------------------------------
# NODE & GENERAL
# --------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# --------------------------------------------------
# NEXT.JS
# --------------------------------------------------
.next/
out/
dist/

# --------------------------------------------------
# ENVIRONMENT VARIABLES
# --------------------------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --------------------------------------------------
# PRISMA
# --------------------------------------------------
prisma/dev.db-journal

# --------------------------------------------------
# LOGS
# --------------------------------------------------
logs
*.log
*.pid
*.seed

# --------------------------------------------------
# EDITOR / OS FILES
# --------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------
# DOCKER
# (Ignora volumes locais do Postgres)
# --------------------------------------------------
pgdata/
docker-data/
